* {
	-webkit-tap-highlight-color: transparent;
}

::-moz-selection {
	color: Ui(colors,mark);
	background: rgba(Ui(colors,mark),.25);
	}
::selection {
	color: Ui(colors,mark);
	background: rgba(Ui(colors,mark),.25);
	}