* {
	-webkit-tap-highlight-color: transparent;
}

::-moz-selection {
	color: Ui(theme,$ui-theme,mark);
	background: rgba(Ui(theme,$ui-theme,mark),.25);
	}
::selection {
	color: Ui(theme,$ui-theme,mark);
	background: rgba(Ui(theme,$ui-theme,mark),.25);
	}