$scale:6 4 3 2 1 0;
$path: theme,$ui-theme,fonts,scale;

@each $ms in UiSet(append($path,$scale)...) {
	$i: index(Ui($path...),$ms);//index
	h#{$i} {
		font-size: ms($ms);
		}
	}

//@todo[modularize]
h1,h2,h3,h4,h5,h6{
	font-family: nth(Ui(fonts,head),1);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -.05em;
	line-height: 1;
	margin: 0 auto ms(1,1rem);
	}