$scale:6 4 3 2 1 0;
$path: theme,$ui-theme,fonts,scale;

.heading {
	font-family: Ui(fonts,head);
	font-weight: bold;
	letter-spacing: -.05em;
	line-height: 1.5;
	margin: 0 auto ms(1,1rem);
	@each $ms in UiSet(append($path,$scale)...) {
		$i: index(Ui($path...),$ms);//index
		&--#{$i} {
			font-size: ms($ms);
			}
		}
	}