%list,
.list{
	counter-reset: list;
	list-style-type: none;
	&--item{
		position: relative;
		display: block;
		margin: .5em 0;
		padding: .5em 1em;
		}
	}

.list {
	$root: #{&};
	&_bordered {
		$elem: '#{$root}--item';
		>:not(:first-child) {
			border-top: 1px solid Ui(theme,$ui-theme,color,edge);
			}
		>:only-child {
			border: solid Ui(theme,$ui-theme,color,edge);
			border-width: 1px 0;
			}
		#{$root}--item:hover {
			background-color: lighten(Ui(theme,$ui-theme,color,matte),5%);
			}
		}
	}