@charset "UTF-8";
* {
  -webkit-tap-highlight-color: transparent; }

::-moz-selection {
  color: #079CB4;
  background: rgba(7, 156, 180, 0.25); }

::selection {
  color: #079CB4;
  background: rgba(7, 156, 180, 0.25); }

.ui-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 0;
  padding: 0.8em 1em;
  font-family: futura-pt;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  background-image: none;
  box-shadow: 1px 4px 6px -3px rgba(55, 55, 55, 0.2);
  cursor: pointer;
  user-select: none;
  user-drag: element; }
  .ui-button__blue {
    background-color: #079CB4;
    color: #FEFEFE !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__blue:hover {
      background-color: #2aa8bd;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__blue:active {
      color: rgba(254, 254, 254, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(31, 106, 118, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__deep {
    background-color: #003B4C;
    color: #FEFEFE !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__deep:hover {
      background-color: #245664;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__deep:active {
      color: rgba(254, 254, 254, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(28, 57, 66, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__orange {
    background-color: #F9701F;
    color: #FEFEFE !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__orange:hover {
      background-color: #f7833e;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__orange:active {
      color: rgba(254, 254, 254, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(152, 84, 43, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__green {
    background-color: #07B4A7;
    color: #FEFEFE !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__green:hover {
      background-color: #2abdb2;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__green:active {
      color: rgba(254, 254, 254, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(31, 118, 111, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__red {
    background-color: #F0433F;
    color: #FEFEFE !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__red:hover {
      background-color: #f05d59;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__red:active {
      color: rgba(254, 254, 254, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(148, 61, 59, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__gold {
    background-color: #F8A60A;
    color: #FEFEFE !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__gold:hover {
      background-color: #f7b12c;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__gold:active {
      color: rgba(254, 254, 254, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(152, 111, 33, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__dark {
    background-color: #373737;
    color: #FEFEFE !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__dark:hover {
      background-color: #525252;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__dark:active {
      color: rgba(254, 254, 254, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(55, 55, 55, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__gray {
    background-color: #AAAAAA;
    color: #373737 !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__gray:hover {
      background-color: #b4b4b4;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__gray:active {
      color: rgba(55, 55, 55, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(113, 113, 113, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__edge {
    background-color: #DBDBDB;
    color: #373737 !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__edge:hover {
      background-color: #dedede;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__edge:active {
      color: rgba(55, 55, 55, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(137, 137, 137, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__lite {
    background-color: #EEEEEE;
    color: #373737 !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__lite:hover {
      background-color: #eeeeee;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__lite:active {
      color: rgba(55, 55, 55, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(147, 147, 147, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__faint {
    background-color: #FAFAFC;
    color: #373737 !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__faint:hover {
      background-color: #f8f8fa;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__faint:active {
      color: rgba(55, 55, 55, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(153, 153, 154, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }
  .ui-button__bg {
    background-color: #FEFEFE;
    color: #373737 !important;
    text-decoration: none !important;
    transition: all .175s ease; }
    .ui-button__bg:hover {
      background-color: #fcfcfc;
      box-shadow: 4px 4px 0 -1px rgba(55, 55, 55, 0.1); }
    .ui-button__bg:active {
      color: rgba(55, 55, 55, 0.75) !important;
      box-shadow: inset 4px 4px 0 -2px rgba(155, 155, 155, 0.175), 4px 4px 0 -4px rgba(55, 55, 55, 0); }

[is='ui-heading'] {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin: 0.8em 0;
  font-family: martel;
  color: #373737; }
  [is='ui-heading']:before, [is='ui-heading']:after {
    content: " ";
    flex: 1 50%;
    height: 1px;
    max-width: 50%;
    background-color: transparent;
    background-size: 100% 1px;
    background-position: center; }
  [is='ui-heading']:before {
    margin-right: 0.6666666667em;
    background-image: linear-gradient(to right, rgba(255,255,255,0), #DBDBDB 25%); }
  [is='ui-heading']:after {
    margin-left: 0.6666666667em;
    background-image: linear-gradient(to left, rgba(255,255,255,0), #DBDBDB 25%); }

.ui-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.ui-icon, .ui-icon:empty,
.ui-icon svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: text-top;
  line-height: inherit; }

.ui-icon__color\=blue svg .svg-fill {
  fill: #079CB4; }

.ui-icon__color\=blue svg .svg-stroke {
  stroke: #079CB4; }

.ui-icon__color\=blue svg .svg-stop {
  stop-color: #079CB4; }

.ui-icon__color\=deep svg .svg-fill {
  fill: #003B4C; }

.ui-icon__color\=deep svg .svg-stroke {
  stroke: #003B4C; }

.ui-icon__color\=deep svg .svg-stop {
  stop-color: #003B4C; }

.ui-icon__color\=orange svg .svg-fill {
  fill: #F9701F; }

.ui-icon__color\=orange svg .svg-stroke {
  stroke: #F9701F; }

.ui-icon__color\=orange svg .svg-stop {
  stop-color: #F9701F; }

.ui-icon__color\=green svg .svg-fill {
  fill: #07B4A7; }

.ui-icon__color\=green svg .svg-stroke {
  stroke: #07B4A7; }

.ui-icon__color\=green svg .svg-stop {
  stop-color: #07B4A7; }

.ui-icon__color\=red svg .svg-fill {
  fill: #F0433F; }

.ui-icon__color\=red svg .svg-stroke {
  stroke: #F0433F; }

.ui-icon__color\=red svg .svg-stop {
  stop-color: #F0433F; }

.ui-icon__color\=gold svg .svg-fill {
  fill: #F8A60A; }

.ui-icon__color\=gold svg .svg-stroke {
  stroke: #F8A60A; }

.ui-icon__color\=gold svg .svg-stop {
  stop-color: #F8A60A; }

.ui-icon__color\=dark svg .svg-fill {
  fill: #373737; }

.ui-icon__color\=dark svg .svg-stroke {
  stroke: #373737; }

.ui-icon__color\=dark svg .svg-stop {
  stop-color: #373737; }

.ui-icon__color\=gray svg .svg-fill {
  fill: #AAAAAA; }

.ui-icon__color\=gray svg .svg-stroke {
  stroke: #AAAAAA; }

.ui-icon__color\=gray svg .svg-stop {
  stop-color: #AAAAAA; }

.ui-icon__color\=edge svg .svg-fill {
  fill: #DBDBDB; }

.ui-icon__color\=edge svg .svg-stroke {
  stroke: #DBDBDB; }

.ui-icon__color\=edge svg .svg-stop {
  stop-color: #DBDBDB; }

.ui-icon__color\=lite svg .svg-fill {
  fill: #EEEEEE; }

.ui-icon__color\=lite svg .svg-stroke {
  stroke: #EEEEEE; }

.ui-icon__color\=lite svg .svg-stop {
  stop-color: #EEEEEE; }

.ui-icon__color\=faint svg .svg-fill {
  fill: #FAFAFC; }

.ui-icon__color\=faint svg .svg-stroke {
  stroke: #FAFAFC; }

.ui-icon__color\=faint svg .svg-stop {
  stop-color: #FAFAFC; }

.ui-icon__color\=bg svg .svg-fill {
  fill: #FEFEFE; }

.ui-icon__color\=bg svg .svg-stroke {
  stroke: #FEFEFE; }

.ui-icon__color\=bg svg .svg-stop {
  stop-color: #FEFEFE; }

label[is="ui-label"] {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: initial;
  margin-right: .6em; }

progress[is='ui-progress'] {
  appearance: none;
  border: none;
  background: rgba(7, 156, 180, 0.375);
  box-shadow: 3px 4px 8px -4px rgba(55, 55, 55, 0.0875);
  radius: 2px; }
  progress[is='ui-progress']::progres-bar {
    background: white;
    background-image: linear-gradient(to left, rgba(250, 250, 252, 0.625), #FEFEFE);
    border-radius: 2px;
    border: 1px solid rgba(7, 156, 180, 0.375); }
  progress[is='ui-progress']::progres-value {
    background-image: linear-gradient(to right, 90deg, rgba(7, 156, 180, 0.125), rgba(7, 156, 180, 0.15) 25%, rgba(7, 156, 180, 0.3) 87.5%);
    background: rgba(7, 156, 180, 0.25);
    border-radius: 1px;
    margin: -1px 0 -1px -1px;
    padding: 1px 1px 1px 0;
    box-sizing: content-box; }

progress[is='ui-progress']::-webkit-progress-bar {
  background: white;
  background-image: linear-gradient(to left, rgba(250, 250, 252, 0.625), #FEFEFE);
  border-radius: 2px;
  border: 1px solid rgba(7, 156, 180, 0.375); }

progress[is='ui-progress']::-webkit-progress-value {
  background-image: linear-gradient(to right, 90deg, rgba(7, 156, 180, 0.125), rgba(7, 156, 180, 0.15) 25%, rgba(7, 156, 180, 0.3) 87.5%);
  background: rgba(7, 156, 180, 0.25);
  border-radius: 1px;
  margin: -1px 0 -1px -1px;
  padding: 1px 1px 1px 0;
  box-sizing: content-box; }

progress[is='ui-progress']::-moz-progress-bar {
  background: white;
  background-image: linear-gradient(to left, rgba(250, 250, 252, 0.625), #FEFEFE);
  border-radius: 2px;
  border: 1px solid rgba(7, 156, 180, 0.375); }

progress[is='ui-progress']::-moz-progress-value {
  background-image: linear-gradient(to right, 90deg, rgba(7, 156, 180, 0.125), rgba(7, 156, 180, 0.15) 25%, rgba(7, 156, 180, 0.3) 87.5%);
  background: rgba(7, 156, 180, 0.25);
  border-radius: 1px;
  margin: -1px 0 -1px -1px;
  padding: 1px 1px 1px 0;
  box-sizing: content-box; }

progress[is='ui-progress']::-ms-progress-bar {
  background: white;
  background-image: linear-gradient(to left, rgba(250, 250, 252, 0.625), #FEFEFE);
  border-radius: 2px;
  border: 1px solid rgba(7, 156, 180, 0.375); }

progress[is='ui-progress']::-ms-progress-value {
  background-image: linear-gradient(to right, 90deg, rgba(7, 156, 180, 0.125), rgba(7, 156, 180, 0.15) 25%, rgba(7, 156, 180, 0.3) 87.5%);
  background: rgba(7, 156, 180, 0.25);
  border-radius: 1px;
  margin: -1px 0 -1px -1px;
  padding: 1px 1px 1px 0;
  box-sizing: content-box; }

progress[is='ui-progress']::-o-progress-bar {
  background: white;
  background-image: linear-gradient(to left, rgba(250, 250, 252, 0.625), #FEFEFE);
  border-radius: 2px;
  border: 1px solid rgba(7, 156, 180, 0.375); }

progress[is='ui-progress']::-o-progress-value {
  background-image: linear-gradient(to right, 90deg, rgba(7, 156, 180, 0.125), rgba(7, 156, 180, 0.15) 25%, rgba(7, 156, 180, 0.3) 87.5%);
  background: rgba(7, 156, 180, 0.25);
  border-radius: 1px;
  margin: -1px 0 -1px -1px;
  padding: 1px 1px 1px 0;
  box-sizing: content-box; }

.ui-quote, [is="ui-quote"] {
  all: initial;
  position: relative;
  display: block;
  font: inherit;
  text-transform: inherit;
  line-height: 1;
  color: inherit; }

.ui-quote:before, [is="ui-quote"]:before, .ui-quote:after, [is="ui-quote"]:after {
  position: absolute;
  top: 57.5%;
  font-size: 3.0517578125em;
  font-family: martel;
  font-weight: 900;
  font-style: normal;
  line-height: .6;
  opacity: .175;
  letter-spacing: -.2em;
  vertical-align: middle; }

.ui-quote, [is="ui-quote"] {
  text-align: left; }
  .ui-quote:before, [is="ui-quote"]:before {
    content: '‘‘';
    left: -.375em; }

.ui-quote__right, [is="ui-quote"].ui-quote__right {
  text-align: right; }
  .ui-quote__right:before, [is="ui-quote"].ui-quote__right:before {
    display: none; }
  .ui-quote__right:after, [is="ui-quote"].ui-quote__right:after {
    content: '’’';
    right: -.2em; }

small[is='ui-small'] {
  font: inherit;
  font-size: 0.6666666667em;
  line-height: inherit;
  color: inherit; }

[layout=center] {
  display: flex;
  justify-content: center; }

.menu--item + .menu--item:before {
  content: ' / '; }

.corner {
  display: inline-block;
  width: 12.5vmin;
  height: 12.5vmin;
  color: #DBDBDB;
  border: 1px solid transparent;
  opacity: .375; }
  .corner {
    position: fixed; }
    .corner__edge\=topLeft {
      top: 1.5em;
      left: 1.5em;
      border-left-color: #DBDBDB;
      border-top-color: #DBDBDB; }
    .corner__edge\=topRight {
      top: 1.5em;
      right: 1.5em;
      border-right-color: #DBDBDB;
      border-top-color: #DBDBDB; }
    .corner__edge\=btmLeft {
      bottom: 1.5em;
      left: 1.5em;
      border-left-color: #DBDBDB;
      border-bottom-color: #DBDBDB; }
    .corner__edge\=btmRight {
      bottom: 1.5em;
      right: 1.5em;
      border-right-color: #DBDBDB;
      border-bottom-color: #DBDBDB; }

/*# sourceMappingURL=ui.css.map */