/*=Ui Overrides
 */
	app-page{
	  padding:0;
	  }
	ui-page{
	  min-height:100vh;
	  }
/*=Swiper Styles
 */
/*-wrapper->*/
	.swiper-container{
		display: block;
	  box-sizing: border-box;
		height: 100vh;
		max-height: 100%;
	  width: 33em;
	  max-width: 100%;
	  }
/*-slides-->*/
	.swiper-slide{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  box-sizing: border-box;
	  max-height: 100%;
	  max-width: 100%;
	  }
	.swiper-slide-active{}
/*-pagenav->*/
	.swiper-pagination-bullets{
	  z-index:9;
	  position:fixed;
	  right: 0;
	  top: 0;
	  display:flex;
	  flex-flow:nowrap column;
	  justify-content: space-between;
	  align-items: center;
	  height:100vh;
	  width:.38em;
	  }
	.swiper-pagination-bullet{
	  flex: 1 auto;
	  opacity:1;
	  box-sizing:border-box;
	  width:0px;
	  width:.38em;
	  margin: 0 auto !important;
	  background-color:rgba(255,255,255,.125);
	  border-radius:0;
	  border-right: 1px dashed currentColor;
	  transition: .25s 0s ease-in;
	  }
	.swiper-pagination-bullet+.swiper-pagination-bullet{
	  margin-top:2px!important;
	  }
	.swiper-pagination-bullet-active,
	.swiper-pagination-bullet:hover{
	  background-color: currentColor;
	  transition: .25s .125s ease;
	  }
	.swiper-pagination-bullet:hover{
	  opacity:.375;
	  }
	.swiper-pagination-bullet-active{
	  opacity:1!important;
	  }