.text-mask{
	display: block;
	margin: 1.5em auto;
	background-size: cover;
	background-position: center;
	// background-attachment: fixed;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 2em;
	}