.page {
	display: block;
	transition: opacity .2s .125s ease, transform .25s 0s ease;
	&\=loading {
		transform: scale(.875);
		transform-origin: top;
		opacity: 0;
		}
	&\=loaded {
		transform: scale(1);
		transition: opacity .2s .175s ease, transform 0s ease;
		opacity: 1;
		// transition-delay: 0s;
		}
	}
.page app-page {
	}