.nav {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;

  // position: sticky;
  // z-index: Ui(z,top,-1);
  // top: 0;

  $uiNav-height: 4rem !global;
  box-sizing: border-box;
  height: $uiNav-height;

  margin: 0 auto;
  white-space: nowrap;

  font-family: Ui(theme,$ui-theme,fonts,serif);
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 1em;
  letter-spacing: .15em;
  //elem
  &--link {
    margin: 0 .5em;
    box-shadow:
      inset 0 0 0 0.5em $__TRANSPARENT__,
            0 0 0 0.0em $__TRANSPARENT__;
    transition: box-shadow .2s ease;
    &:active {
      $pop-color: rgba(Ui(theme,$ui-theme,color,matte),nth(Ui(shade),3));
      box-shadow:
        inset 0 0 0 1.0em $pop-color,
              0 0 0 0.5em $pop-color;
      }
    //modif
    &\=active{
      text-decoration: line-through;
      }
    }
  }