.corner {
	position: fixed;
	content: ' ';
	z-index: #{11};
	//=SETTINGS  
		$offset: (x:1rem,y:1.125rem);
		$width: .45em;
		$rule: .5em;
		$color: Ui(colors,mark);
	//=LAYOUT    
		display: inline-block;
		width: 12.5vmin;
		height: 12.5vmin;
	//=THEME     
		color: $color;
		border: $rule solid transparent;
		opacity: .625;
	//=MODIFIERS 
		&__edge\=topLeft  {
			top: map-get($offset,y);
			left: map-get($offset,x);
			border-left-color: $color;
			border-top-color: $color;
			}
		&__edge\=topRight {
			top: map-get($offset,y);
			right: map-get($offset,x);
			border-right-color: $color;
			border-top-color: $color;
			}
		&__edge\=btmLeft  {
			bottom: map-get($offset,y);
			left: map-get($offset,x);
			border-left-color: $color;
			border-bottom-color: $color;
			}
		&__edge\=btmRight {
			bottom: map-get($offset,y);
			right: map-get($offset,x);
			border-right-color: $color;
			border-bottom-color: $color;
			}
	}