.page{
	//=properties
		$root: page;//get the bem root class
	//=layout
	&{
		display:         flex;
	  flex-flow:       wrap column;
	  justify-content: center;
	  align-items:     center;
	  min-height:      calc(100vh - #{$uiNav-height});
	  max-width:       55em;
	  margin:          0 auto;
		}
	//=animation
		&{//default
			transition:
				opacity   0.375s ease,
				transform 0.5s   ease;
			}
		&_loading {
			opacity: 0;
			transform: scale(.75) translateY(15%);
			transform-origin: bottom;
			}
		&_loaded  {
			opacity: 1;
			transform: scale(1) translateY(0);
			transition:
				opacity   0.375s ease,
				transform 0.5s   ease;
			}
	}