$ds-colors: Ui-add(colors,(
  //->Theme
    text:black,
    pop: magenta,
    mark:#FFCD07,
  //->Status
    good:#07B4A7,success:#07B4A7,
    uhoh:#F8A60A,warn:#F8A60A,
    errr:#F0433F,error:#F0433F,
  //->Grays
    black:#1F1F1F,
    dark: #373737,
    gray: #AAAAAA,
    edge: #DBDBDB,
    lite: #EEEEEE,
    faint:#FAFAFC,
    white:#FFFFFF
));


@function switchText($color) {
  @if( lightness($color) > 62.5 ){
    @return Ui(colors,black);
    }
  @else {
    @return Ui(colors,white);
    }
  }