//=SCHEMES
// color+shade configs 
  $ui-colors: Ui-add(color,(
    green: #07B4A7,
    orange:#F8A60A,
    red:   #F0433F,
    yellow:#FFCD07,
    ));
  $ui-colors: Ui-add(grays,(
    black:#1F1F1F,
    dark: #373737,
    gray: #AAAAAA,
    edge: #DBDBDB,
    lite: #EEEEEE,
    faint:#FAFAFC,
    ));

//=THEMES
// color combo configs 
  $ui-theme-default:(
    matte: Ui(grays,faint),
    edge:  Ui(grays,edge),
    text:  Ui(grays,black),
    mark:  Ui(color,yellow),
    );
  $ui-theme-invert: (
    matte: Ui(grays,black),
    edge:  invert(Ui(grays,edge)),
    text:  Ui(grays,faint),
    mark:  Ui(color,yellow),
    );
  ////Ui-add-themes->
   $ui-colors: Ui-add(theme,(
     default: $ui-theme-default,
     invert:  $ui-theme-invert,
     ));

//=DEFAULT
$ui-theme: default !global;