
//=Color
//->defaults
$ui-color:UiSet(color,(
  blue:  #7DF9FF,
  green: #07B4A7,
  orange:#D94515,
  red:   #F0433F,
  yellow:#FFCD07,
  faint: #FAFAFC,
  ));
//->custom
$ui-color:UiXtd((
  slate: #171717,
  ),color);

//=Grays
// 
$ui-grays:UiSet(grays,(
  black:#1F1F1F,
  dark: #373737,
  gray: #AAAAAA,
  edge: #DBDBDB,
  lite: #EEEEEE,
  ));

//=Shade
// 
$ui-shade:UiSet(shade,(
  .125,//nth( 1 )
  .250,//nth( 2 )
  .375,//nth( 3 )
  .500,//nth( 4 )
  .625,//nth( 5 )
  .750,//nth( 6 )
  .875 //nth( 7 )
  ));