@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Coda:400,800");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,900");
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700,700i');

$ds-fonts: UiSet(fonts,(
	mono: 'Space Mono',
	sans: 'Source Sans Pro',
	head: 'Rubik',
	serif:'Cormorant Garamond',
	));