
$ds-grades: Ui-add(grades,(
	yfade: (
		top: linear-gradient( to top, Ui(colors,bg), $__TRANSPARENT__ ),
		btm: linear-gradient( to bottom, Ui(colors,bg), $__TRANSPARENT__ ),
		),
	xfade: (
		faint: linear-gradient( to left, Ui(colors,bg), Ui(colors,faint) 25%, Ui(colors,faint) 75%, Ui(colors,bg) ),
		ledge: linear-gradient( to right, $__TRANSPARENT__, Ui(colors,edge) 25% ),
		redge: linear-gradient( to left, $__TRANSPARENT__, Ui(colors,edge) 25% ),
		)
	));