.grid {
/*=settings
 */
  $grid-column: Ui(layout,grid,column);
  $grid-gutter: Ui(layout,grid,gutter);
/*=defaults
 @refactor[standalone partial for layout vars]
 */
  $grid-column: 12 !default;
  $grid-gutter: ms(1) !default;
/*=styles  
 @refactor[convert grid to ƒn]
 */
 &{//root
    width: 100%;
    }
  &--row {//elem
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    &_space {
      justify-content: space-around;
      &\=edge {
        justify-content: space-between;
        }
      &\=even {
        justify-content: space-around;
        }
      }
    }
  &--span {
    padding-left: $grid-gutter/2;
    padding-right: $grid-gutter/2;
    &_grow {
      flex-grow: 1 }
    &_push{
      &\=c {
        margin-left: auto;
        margin-right: auto;
        }
      &\=l  {
        margin-left: auto;
        }
      &\=r {
        margin-right: auto;
        }
      }
    @for $i from 1 to $grid-column+1 {
      &_#{$i} {
        $box-w: percentage($i/$grid-column);
        &{
          width: $box-w;
          box-sizing: border-box;
          }
        &.box_shov{
          &\=c {
            $push: calc((100% - #{$box-w})/2);
            margin-left: $push;
            margin-right: $push;
            }
          &\=l {
            margin-right: calc(100% - #{$box-w});
            }
          &\=r {
            margin-left: calc(100% - #{$box-w});
            }
          }
        }
      }
    }
  }
